{% extends "layout.html"%}

{% block content %}
    {% if title %}
            <title>{{title}}</title>
            {% else %}
            <title>DM Screen</title>
    {% endif %}
    <h1>DM Screen</h1>

          <span class="border border-primary">
            <div class="row p-3">
              <div class="card" style="width: 20rem;">
                <img src="{{url_for('static', filename='images/statblock.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                  <a href="#" class="btn btn-danger">Add to Combat</a>
                </div>
              </div>
  
              <div class="card" style="width: 20rem;">
                <img src="{{url_for('static', filename='images/statblock.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                  <a href="#" class="btn btn-danger">Add to Combat</a>
                </div>
              </div>

              <div class="card" style="width: 20rem;">
                <img src="{{url_for('static', filename='images/statblock.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                  <a href="#" class="btn btn-danger">Add to Combat</a>
                </div>
              </div>

              <div class="card" style="width: 20rem;">
                <img src="{{url_for('static', filename='images/statblock.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                  <a href="#" class="btn btn-danger">Add to Combat</a>
                </div>
              </div>
              <div class="card" style="width: 20rem;">
                {% if filename %}

                  <img src="{{url_for('display_image', filename=filename)}}" class="card-img-top" alt="...">

                {% endif %}
                <div class="card-body">
                  
                  <a href="#" class="btn btn-danger">Add to Combat</a>
                </div>
              </div>

              <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="form-group">
                  <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                      <label for="inputFile">File Input</label>
                      <input type="file" class="form-control-file"  name="inputFile">
                      <button type="submit" class="btn btn-outline-danger">+</button>
                    </div>
                  </div>
                </div>
              </form>
              
              </div>
{% endblock %}